<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Language</key>
		<string>English</string>
		<key>ListFile</key>
		<string>EnglishList</string>
		<key>ComicLanguage</key>
		<string>english</string>
	</dict>
	<dict>
		<key>Language</key>
		<string>ಕನ್ನಡ</string>
		<key>ListFile</key>
		<string>KannadaList</string>
		<key>ComicLanguage</key>
		<string>kannada</string>
	</dict>
	<dict>
		<key>Language</key>
		<string>हिन्दी</string>
		<key>ListFile</key>
		<string>EnglishList</string>
		<key>ComicLanguage</key>
		<string>hindi</string>
	</dict>
	<dict>
		<key>Language</key>
		<string>മലയാളം</string>
		<key>ListFile</key>
		<string>MalayalamList</string>
		<key>ComicLanguage</key>
		<string>malayalam</string>
	</dict>
	<dict>
		<key>Language</key>
		<string>தமிழ்</string>
		<key>ListFile</key>
		<string>Tamil</string>
		<key>ComicLanguage</key>
		<string>tamil</string>
	</dict>
	<dict>
		<key>Language</key>
		<string>తెలుగు</string>
		<key>ListFile</key>
		<string>Telugu</string>
		<key>ComicLanguage</key>
		<string>telugu</string>
	</dict>
	<dict>
		<key>Language</key>
		<string>मराठी</string>
		<key>ListFile</key>
		<string>Marathi</string>
		<key>ComicLanguage</key>
		<string>marathi</string>
	</dict>
</array>
</plist>
