<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>Year</key>
      <string>1947</string>
      <key>MonthsPublished</key>
      <array>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1948</string>
      <key>MonthsPublished</key>
      <array>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1949</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1950</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1951</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1952</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1953</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1954</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1955</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1956</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1957</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1958</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1959</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1960</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1961</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1962</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1963</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1964</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1965</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1966</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1967</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1968</string>
      <key>MonthsPublished</key>
      <array>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1969</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1970</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1971</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1972</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1973</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1974</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1975</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1976</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1977</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1978</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1979</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1980</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1981</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1982</string>
      <key>MonthsPublished</key>
      <array>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1983</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1984</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1985</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1986</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1987</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1988</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1989</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1990</string>
      <key>MonthsPublished</key>
      <array>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1991</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1992</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1993</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1994</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1995</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1996</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1997</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1998</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>5</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>1999</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
      </array>
    </dict>
    <dict>
      <key>Year</key>
      <string>2000</string>
      <key>MonthsPublished</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>8</integer>
        <integer>9</integer>
        <integer>10</integer>
        <integer>11</integer>
        <integer>12</integer>
      </array>
    </dict>
  </array>
</plist>
